.App {
  text-align: center;
}

body {
  font-size: 18px;
  font-family: sans-serif;
  font-style: normal;
  text-align: center;
}
input,
select {
  border: 2px solid indianred;
  border-radius: 4px;
  padding: 5px 10px;
}
input:focus,
select:focus {
  outline: none;
  border: 2px solid dodgerblue;
  border-radius: 4px;
  padding: 5px 10px;
}
select:active {
  outline: none;
  background-color: red;
}
